// Place all the styles related to the commissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.commissions {
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    thead {
        background: #505050;
        th {
            border-style: solid;
            border-bottom-width: 4px;
            border-color: #a0a0a0;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    tbody {
        tr:nth-child(even){
            background: #606060;
        }
        tr:nth-child(odd){
            background: #303030;
        }
        td {
            border-right-style: solid;
            border-right-width: 1px;
            padding-left: 2px;
            padding-right: 5px;
        }
    }
}